# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [5]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

In [7]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [9]:
media_mae_pai = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]
media_mae_pai

                    munResNome  IDADEMAE  IDADEPAI
0        Alta Floresta D'Oeste        19      26.0
1        Alta Floresta D'Oeste        29      24.0
2        Alta Floresta D'Oeste        37      32.0
3      Alto Alegre dos Parecis        30      24.0
4        Alta Floresta D'Oeste        30      27.0
...                        ...       ...       ...
27023                  Vilhena        32      35.0
27024              Chupinguaia        19       NaN
27025                  Vilhena        24      30.0
27026                  Vilhena        21      24.0
27027  Novo Horizonte do Oeste        18       NaN

[27028 rows x 3 columns]

In [10]:
media_mae_pai.dropna().groupby('munResNome').mean() #calculando a média removendo os dados faltantes

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.892857  29.548701
Alto Alegre dos Parecis    24.679104  29.179104
Alto Paraíso               22.833333  28.833333
Alvorada D'Oeste           26.825243  30.757282
Ariquemes                  28.133333  32.466667
Buritis                    24.750000  30.812500
Cabixi                     32.166667  34.333333
Cacaulândia                31.000000  36.333333
Cacoal                     26.978605  30.931854
Campo Novo de Rondônia     24.900000  30.500000
Candeias do Jamari         23.684211  29.894737
Castanheiras               28.071429  30.392857
Cerejeiras                 28.361111  31.652778
Chupinguaia                26.888889  29.629630
Colorado do Oeste          31.161290  34.354839
Corumbiara                 29.000000  32.470588
Costa Marques              25.250000  30.613636
Cujubim                    27.400000  31.400000
Espigão D'Oeste            26.808176  31.198113
Governador Jorge Teixeira  25.555556  29.222222
Guajará-Mirim              26.058824  30.470588
Itapuã do Oeste            31.375000  42.500000
Jaru                       28.450704  32.197183
Ji-Paraná                  27.282819  31.132239
Machadinho D'Oeste         26.048077  31.326923
Ministro Andreazza         27.890411  33.849315
Mirante da Serra           26.928571  32.154762
Monte Negro                27.642857  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   27.104167  30.520833
Nova Mamoré                26.051282  31.692308
Nova União                 27.371429  31.371429
Novo Horizonte do Oeste    26.988235  31.588235
Ouro Preto do Oeste        27.109920  31.233244
Parecis                    26.973684  32.473684
Pimenta Bueno              25.449807  29.745174
Pimenteiras do Oeste       32.600000  35.600000
Porto Velho                28.355655  32.352679
Presidente Médici          26.170854  30.150754
Primavera de Rondônia      28.083333  31.888889
Rio Crespo                 26.000000  28.000000
Rolim de Moura             26.549701  30.360479
Santa Luzia D'Oeste        26.043956  30.703297
Seringueiras               25.058824  30.500000
São Felipe D'Oeste         26.979167  31.395833
São Francisco do Guaporé   26.944444  31.638889
São Miguel do Guaporé      27.469136  32.666667
Teixeirópolis              27.454545  31.500000
Theobroma                  24.916667  30.083333
Urupá                      27.116071  31.008929
Vale do Anari              27.133333  34.000000
Vale do Paraíso            25.604651  29.976744
Vilhena                    30.611765  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [12]:
media_peso_bebes = sinasc_raw[['PESO', 'SEXO', 'ESCMAE', 'DTNASC']]
media_peso_bebes

       PESO       SEXO           ESCMAE      DTNASC
0      3685  Masculino      8 a 11 anos  2019-02-19
1      3055   Feminino      8 a 11 anos  2019-02-21
2      3460   Feminino      8 a 11 anos  2019-02-25
3      2982   Feminino  12 anos ou mais  2019-03-20
4      3310   Feminino      8 a 11 anos  2019-03-23
...     ...        ...              ...         ...
27023  2110  Masculino  12 anos ou mais  2019-12-13
27024  3310  Masculino      8 a 11 anos  2019-10-04
27025  3065  Masculino      8 a 11 anos  2019-08-02
27026  2352  Masculino      8 a 11 anos  2019-12-23
27027  4240  Masculino      8 a 11 anos  2019-12-27

[27028 rows x 4 columns]

In [13]:
media_peso_bebes.dropna()

       PESO       SEXO           ESCMAE      DTNASC
0      3685  Masculino      8 a 11 anos  2019-02-19
1      3055   Feminino      8 a 11 anos  2019-02-21
2      3460   Feminino      8 a 11 anos  2019-02-25
3      2982   Feminino  12 anos ou mais  2019-03-20
4      3310   Feminino      8 a 11 anos  2019-03-23
...     ...        ...              ...         ...
27023  2110  Masculino  12 anos ou mais  2019-12-13
27024  3310  Masculino      8 a 11 anos  2019-10-04
27025  3065  Masculino      8 a 11 anos  2019-08-02
27026  2352  Masculino      8 a 11 anos  2019-12-23
27027  4240  Masculino      8 a 11 anos  2019-12-27

[26712 rows x 4 columns]

In [14]:
media_peso_bebes[media_peso_bebes['DTNASC'] == '2019-08-23'].groupby(['ESCMAE','SEXO'])['PESO'].mean().unstack()

SEXO                Feminino  Masculino
ESCMAE
1 a 3 anos               NaN    2835.00
12 anos ou mais  3170.000000    3366.50
4 a 7 anos       3195.714286    3288.75
8 a 11 anos      3159.913043    3308.56

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [16]:
sinasc_raw.groupby('munResNome')['DTNASC'].count().sort_values().head(5)

munResNome
Município ignorado - RO     1
Castanheiras               32
Pimenteiras do Oeste       40
Primavera de Rondônia      43
Parecis                    44
Name: DTNASC, dtype: int64

Desconsiderando o município ignorado - RO.

In [18]:
sinasc_castanheiras_maes = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'].groupby('munResNome')['IDADEMAE']
sinasc_castanheiras_maes

In [19]:
sinasc_castanheiras_maes.agg([('idade minima', 'min'), ('idade média', 'mean'), ('idade máxima', 'max')])

              idade minima  idade média  idade máxima
munResNome
Castanheiras            17     27.28125            39

In [20]:
sinasc_castanheiras_pais = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'].groupby('munResNome')['IDADEPAI']
sinasc_castanheiras_pais

In [21]:
sinasc_castanheiras_pais.agg([('idade minima', 'min'), ('idade média', 'mean'), ('idade máxima', 'max')])

              idade minima  idade média  idade máxima
munResNome
Castanheiras          17.0    30.392857          43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [23]:
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])

In [24]:
nascimentos_marco = sinasc_raw[sinasc_raw['DTNASC'].dt.month == 3]
nascimentos_marco

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
5,1,2516500.0,110001,1,33,5.0,1 a 3 anos,621005.0,2.0,1.0,...,5,6,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
9,1,2679477.0,110001,1,30,2.0,1 a 3 anos,999992.0,1.0,1.0,...,5,10,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
10,1,2679477.0,110001,1,31,5.0,8 a 11 anos,512105.0,1.0,0.0,...,5,11,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13670,1,2000733.0,120040,1,24,5.0,8 a 11 anos,999992.0,0.0,0.0,...,5,18687,ATIVO,MUNIC,Porto Velho,Rondônia,-8.76889,-63.83145,87.0,34096.394
13671,1,2000733.0,120040,1,24,5.0,4 a 7 anos,999992.0,2.0,0.0,...,9,18702,ATIVO,MUNIC,Porto Velho,Rondônia,-8.76889,-63.83145,87.0,34096.394
13736,1,2688611.0,355030,1,35,2.0,12 anos ou mais,10210.0,1.0,0.0,...,5,1066018,ATIVO,MUNIC,Porto Velho,Rondônia,-8.76889,-63.83145,87.0,34096.394
13748,1,2311682.0,510340,1,36,4.0,12 anos ou mais,354605.0,2.0,1.0,...,5,1386627,ATIVO,MUNIC,Vilhena,Rondônia,-12.74137,-60.13858,595.0,11518.915
13750,1,2604388.0,510340,1,31,2.0,12 anos ou mais,142305.0,0.0,1.0,...,5,1388221,ATIVO,MUNIC,Ji-Paraná,Rondônia,-10.88205,-61.94509,157.0,6896.648

In [25]:
nascimentos_marco['munResNome'].value_counts().idxmax()

'Porto Velho'

In [26]:
porto_velho_qtdfilvivo = sinasc_raw[sinasc_raw['munResNome'] == 'Porto Velho'].groupby('munResNome')['QTDFILVIVO']
porto_velho_qtdfilvivo

In [27]:
porto_velho_qtdfilvivo.agg([('minima', 'min'), ('média', 'mean'), ('máxima', 'max')])

             minima     média  máxima
munResNome
Porto Velho     0.0  1.167236    12.0

In [28]:
porto_velho_pai = sinasc_raw[sinasc_raw['munResNome'] == 'Porto Velho'].groupby('munResNome')['IDADEPAI']
porto_velho_pai

In [29]:
porto_velho_pai.agg([('minima', 'min'), ('média', 'mean'), ('máxima', 'max')])

             minima      média  máxima
munResNome
Porto Velho    16.0  32.352679    65.0

In [30]:
porto_velho_mae = sinasc_raw[sinasc_raw['munResNome'] == 'Porto Velho'].groupby('munResNome')['IDADEMAE']
porto_velho_mae

In [31]:
porto_velho_mae.agg([('minima', 'min'), ('média', 'mean'), ('máxima', 'max')])

             minima     média  máxima
munResNome
Porto Velho      12  26.31267      47

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

### Análise

- A idade média dos pais é maior do que a das mães.
- O município onde a média de idade dos pais é maior é Itapuã do Oeste
- O município onde a média de idade das mães é maior é Pimenteiras do Oeste
- O município onde a média de idade dos pais é menor é Rio Crespo
- O município onde a média de idade das mães é menor é Alto Paraíso
- No dia do meu aniversário, não houve nascimento de bebê do sexo feminino onde a escolaridade da mãe era de 1 a 3 anos.
- A idade máxima dos pais em Porto Velho é maior que a de Castanheiras